# API.
fastapi==0.109.0
uvicorn[standard]==0.27.0
python-multipart

# Base de données.
sqlalchemy==2.0.25
psycopg2-binary==2.9.9
pydantic==2.6.0
pydantic-settings==2.1.0

# Background Tasks.
celery==5.3.6
redis==5.0.1

# AI (CPU).
numpy
pandas
scikit-learn
lightgbm
timm
torch --index-url https://download.pytorch.org/whl/cpu
shap